@import url('../../App.css');


@keyframes shadow-animation {
  0% {
    box-shadow: 0 0 10px #502d84; /* Sariq uchun box shadow */
  }
  50% {
    box-shadow: 0 0 10px #eeea49;
  }
  100% {
    box-shadow: 0 0 10px rgba(109, 38, 157, 0.978); /* Sariq uchun box shadow */
  }
}

.custom-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  animation: shadow-animation 4s infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform: scale(1);
  height: 65vh;
}

.custom-card:hover {
  box-shadow: 0 0 20px rgb(109, 38, 157), 0 0 40px rgba(109, 38, 157, 0.5);
  transform: scale(1.05);
}

.card-img-top {
  border-radius: 10px;
}

.custom-card-title {
    font-weight: bold;
    margin-bottom: 1rem;
  /* font-family: var(--font-family); */
}

.custom-card-features {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-family: var(--font-family-secondary);
}

.card-feature {
  display: flex;
  align-items: left;
  margin-bottom: 0.5rem;
}

.custom-card-icon {
  margin-right: 0.5rem;
  color: #00a7e1; /* Sariq rang */
}

.custom-card-text {
  color: #555;
}

.card-price {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-card-price {
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
}