/* @import url('../../App.css');

/* .btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  } */

/* Responsive styles */
@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
    transition: 2s;
  }

  .responsive_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .responsive_nav a {
    margin-bottom: 10px;
  }
}


/* -------- --------- */
/* .header-info-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.header-left {
  width: 40%;
}
.header-left h1 {
  color: rgb(34, 27, 98);
  font-family: Arial, Helvetica, sans-serif;
}
.header-left p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
}

.header-left button {
  font-size: 20px;
  padding: 10px 40px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}
.header-left button:hover {
  /* background-color: #EFBC9B; */
/* } 
.header-left .btn-explore{
  background-color: rgb(34, 27, 98);
  color: #fff;
} */ 
.slider-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  /* box-sizing: border-box; */
  
}

.slider-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 5px;
}


.caption-title {
  color: #fff; /* Set the caption title color to white */
  font-family: var(--font-family);
  font-size: 28px;
}

.caption-text {
  color: #fff; /* Set the caption text color to white */
  font-family: var(--font-family-secondary);
}



.contact-btn {
  background-color: rgb(34, 27, 98);
  padding: 6px 25px;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.2s ease;
  font-size: 20px;
}
.contact-btn:hover {
  background-color: #EFBC9B;
}



/*  --- -- -- - -- - -- - --- -- --- -- - */
.carousel-div {
  width: 65%;
  margin: 0 auto;
  height: auto;
  border-radius: 15px; 
}

.carousel-div {
  position: relative;
}

.carousel-div .slider-item {
  position: relative;
  border-radius: 20px;
}

.carousel-div .slider-caption {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.carousel-div .slider-caption h5.caption-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.carousel-div .slider-caption p.caption-text {
  margin-top: 0;
  margin-bottom: 0;
}

.carousel-div .thumb {
  display: none;
}

@media (max-width: 768px) {
  .carousel-div {
    width: 90%;
  }
  .carousel-div .slider-item {
    height: 50vh;
  }
  .carousel-div .slider-caption {
    width: 80%;
    /* margin-bottom: 10px; */
    bottom: 0%;
  }
  .carousel-div .slider-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    opacity: 1;
  }
  
  .carousel-div .slider-image {
    height: 40vh;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 5px;
  }
  .slider-caption .caption-text {
    font-size: 13px;
  }
  .slider-caption .caption-title {
    font-size: 22px;
  }
} 